p{
	color: red;
	
}
div{
	background-image: url(../download%20.jpg);
	height: 550px;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-bottom: 300px;
}
#div1
{
	background-image: url(../pic/back1.jpeg);
}